/* Enter your custom styles here
#__data14{
    margin-left: 750px;
    margin-top: -800px;
}
#container-project1---View2--_IDGenLabel2-bdi{
    margin-left: 275px;
}
#__data20{
    margin-left: 190px;
}
#container-project1---View2--_IDGenLabel4-bdi{
    margin-left: 265px;
}
#__data24{
    margin-left: 190px;
}
#container-project1---View2--_IDGenLabel6-bdi{
    margin-left: 285px;
}
#__data28{
    margin-left: 190px;
}
#container-project1---View2--_IDGenLabel8-bdi{
    margin-left: 285px;
}
#__data32{
    margin-left: 190px;
}
#container-project1---View2--_IDGenLabel10-bdi{
    margin-left: 285px;
}
#__data36{
    margin-left: 190px;
}
#container-project1---View2--_IDGenLabel12-bdi{
    margin-left: -2px;
}
#__data38{
    margin-left: 190px;
}
#__data40{
    margin-left: 190px;
}
#container-project1---View2--_IDGenPanel3-content{
    position: fixed;
}
#container-project1---View2--_IDGenPanel1-content{
    margin-left: 10px;
}
#__data19{
    width: 150px;
} */

#container-project1---View2--_IDGenLabel2-bdi{
    margin-left: 190px;
}
#__data17{
    margin-left: 100px;
}
#container-project1---View2--_IDGenLabel4-bdi{
    margin-left: 155px;
}
#__data21{
    margin-left: 100px;
}
#container-project1---View2--_IDGenLabel6-bdi{
    margin-left:193px ;
}
#__data25{
    margin-left:100px ;
}
#__data29{
    margin-left: 100px;
}
#container-project1---View2--_IDGenLabel8-bdi{
    margin-left:193px ;
}
#container-project1---View2--_IDGenLabel10-bdi{
    margin-left: 200px;
}
#__data33{
    margin-left: 100px;
}
#container-project1---View2--_IDGenLabel12-bdi{
    margin-left: 160px;
}
#__data37{
    margin-left: 100px;
}
#__data11{
    margin-left: 700px;
    margin-top: -800px;
}
#container-project1---View2--_IDGenPanel3-content{
    position: fixed;
}
#container-project1---View2--_IDGenLabel02-bdi{
    margin-left: 165px;
}
#__data41{
    margin-left:100px ;
}